body {
    background-color: #3CB371;
}

a {
   text-decoration: none;
    color: white
    
}

div {
    color:grey
}

a:hover { 
    background-color: orange;
}

.hello {
    color:purple;

}

h2 {
    margin-left:400
}

ul {
    margin-left:400
}

h1 {
    margin-left: 100
}
    
    
ol {
    margin-left:200
}